/config.php
/.idea/
/admin/config.php

/document/
/*.xml
/images/
/image/

# System Cache Files
/storage/cache/*
/storage/cache_fv/*
/storage/logs/*
/storage/upload/*
/storage/session/*
/storage/logs/error.log
/image/cache/*
/system/cache/*
/system/logs/*
/system/nitro/cache/*
!/system/cache/index.html

/storage/modification/*
/storage/esb/*

/storage/modification/*
/storage/esb/*

# Vqmod Folder
/vqmod/vqcache/*
/vqmod/mods.cache
/vqmod/logs/*
/vqmod/checked.cache

storage/modification/catalog/controller/product/category.php
i.php
.htaccess.txt
.htaccess